*{
    margin: 0;
}

body{
    padding-bottom: 10px;
    background-color: rgb(50,50,50);
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height: 10%; */
    height: 100%;
    width: 124px;
    position: fixed;
    /* padding: 1% 2%; */
    background-color: black;
}

.search{
    /* font-size: clamp(8px,4vw,12px); */
    width: 90px;
    /* border-radius: 2px; */
    border: none;
    margin: 10px 0;
    margin-top: 7px;
    /* margin: auto 0; */
}

.search:focus{
    outline: none;
}

span{
    /* font-size: clamp(8px,5vw,16px); */
    color: white;
    cursor: default;
    user-select: none;
}

.filter-container{
    display: inline-block;
    margin: 5px 0;
    padding-left: 5px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 140px;
    padding-top: 10px;
    /* padding-left: 30px; */
}

.searchIcon{
    text-align: center;
    background-color: #777;
    font-size: 12px;
    padding: 2.5px 9px;;
}

.searchIcon:hover{
    background-color: #999;
}

.fav{
    color: white;
    margin: 5px;
    cursor: pointer;
}

.fav:hover{
    color: #999;
}

.home{
    color: white;
    margin: 0 5px;
    cursor: pointer;
}

.home:hover{
    color: #999;
}

.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%,-50%);
}